@media screen and (max-width: 600px) {
    
    /* Header Responsive */
    
    header{
        width: 90%;
    }

    .logo>img{
        width: 70%;
    }
    .company-name{
        font-size: 1.4rem;
        padding-left: 0;
    }
    .menu{
        display: none;
    }
    .hamburger-menu{
        display: contents;
    }

    /* Banner Responsive */
}