@media screen and (max-width: 600px) {
    
    /* Header Responsive */
    
    header{
        width: 90%;
    }

    .logo>img{
        width: 70%;
    }
    .company-name{
        font-size: 1.4rem;
        padding-left: 0;
    }
    .menu{
        display: none;
    }
    .hamburger-menu{
        display: contents;
    }

    /* Banner Responsive */

    .banner{
        margin-bottom: 30px;
    }
    .banner-text{
        width: 90%;
        padding-bottom: 25px;
    }
    .banner-title{
        font-size: 1.9rem;
        padding-bottom: 8px;
    }
    .banner-description{
        font-size: .9rem;
    }
    .banner-form{
        width: 80%;
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .banner-form{
        width: 80%;
    }
    .form-field-cotainer, .banner-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .form-box{
        padding: 15px;
        width: 280px;
    }
    .banner input[type=text]{
        width: 250px;
    }
    .banner button{
        width: 280px;
        justify-content: center;
    }

    /* Our Popular Tours Section Start Here */

    .our-popular-tours{
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        gap: 30px;
    }
    .popular-tours-text h2{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .popular-tours-text p li{
        font-size: .9rem;
    }
    #tour-button{
        margin-top: 0px;
    }
    .popular-tours-images img{
        width: 100%;
        margin-bottom: 20px;
    }

    /* Choose Your Destination Section Star Here */
}