/* Universal Section */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --theme-color: #FF5400;
    --common-gray: #5A5A5D;
}

*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

/* Shared Section */

.theme-color-text{
    color: var(--theme-color);
}

.common-text{
    font-size: 1rem;
    font-weight: 400;
}

.common-heading{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.primary-btn{
    padding: 11px 30px;
    color: white;
    border-radius: 8px;
    background: #FF5400;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

/* Header/Navigation Section */

header{
    width: 82%;
    margin: 0 auto;
    max-width: 1200px;
}

nav, .company-logo, .menu>ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav{
    margin: 20px 0;
    justify-content: space-between;
}

.company-name{
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    padding-left: 15px;
}
.menu>ul{
    gap: 44px;
}

.menu>ul>li>a{
    text-decoration: none;
    color: var(--common-gray);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.hamburger-menu{
    display: none;
}

.menu>ul>li>a:hover{
    color: var(--theme-color);
}

button:hover{
    cursor: pointer;
}
/* Banner Section */

.banner{
    min-height: 500px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.828981714756215) 0%, rgba(0,0,0,0.21273521615677526) 100%), url('../assets/images/banner.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 100px; */
    margin-bottom: 100px;
}
.banner-text{
    width: 60%;
    padding-bottom: 48px;
}
.banner-title{
    font-size: 4rem;
    color: white;
    font-weight: 800;
}
.banner-text>p{
    color: #FFF;
}

.banner-form{
    background-color: #ffffff5e;
    display: flex;
    gap: 24px;
    /* width: 80%; */
    justify-content: center;
    /* flex-direction: row; */
    padding: 16px;
    border-radius: 8px;
}
.form-box{
    padding-left: 10px;
    width: 180px;
    border: none;
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);

}

.form-field-cotainer{
    display: flex;
    gap: 24px;
}

/* Our Popular Tours Section Start Here */

.our-popular-tours{
    width: 82%;
    margin: 50px auto;
    display: flex;
    gap: 50px;
    /* justify-content: center; */
    align-items: center;
}

.popular-tours-text h2{
    padding-bottom: 45px;
}
.popular-tours-text .common-text{
    color: rgba(19, 19, 24, 0.70);
    padding-bottom: 24px;
    line-height: 26px;
}

.popular-tours-list{
    padding-left: 20px;
    /* margin-left: 0; */
    /* border: 1px solid tomato; */
    color: rgba(19, 19, 24, 0.70);
    /* list-style-position: inside; */
}

.popular-tours-list li{
    padding-bottom: 16px;
}

#tour-button{
    margin-top: 32px;
}


/* Choose Your Destination Section Start Here */

.choose-your-destination{
    width: 82%;
    margin: 100px auto;
    text-align: center;
}
.choose-your-destination>p{
    color: rgba(19, 19, 24, 0.70);
    padding-bottom: 30px;
    padding-top: 15px;
    width: 50%;
    margin: 0 auto;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: 1px solid tomato; */
    height: 700px;
    gap: 24px;    
}

.gallery-text{
    /* border: 2px solid purple; */
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 800;
}

.one{
    grid-column: 1/7;
    grid-row: 1/2;
    background-image: url('../assets/images/maldiv.png');
}
.two{
    grid-column: 7/13;
    grid-row: 1/2;
    background-image: url('../assets/images/indonesia.png');
}

.three{
    grid-column: 1/5;
    grid-row: 2/3;
    background-image: url('../assets/images/srilanka.png');
}

.four{
    grid-column: 5/10;
    grid-row: 2/3;
    background-image: url('../assets/images/north-america.png');
}

.five{
    grid-column: 10/13;
    grid-row: 2/3;
    background-image: url('../assets/images/kashmir.png');
}

.six{
    grid-column: 1/6;
    grid-row: 3/4;
    background-image: url('../assets/images/bangladesh.png');
}

.seven{
    grid-column: 6/13;
    grid-row: 3/4;
    background-image: url('../assets/images/bandarban.png');
}


/* Why-Choose-Us Section Start Here */